@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  .page {
    @apply flex flex-col h-full flex-1 min-h-0 mx-20 border-l border-r border-gray-500/20 bg-gray-950;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes manifestation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transactions-modal {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scan {
  0% {
    /* Start position: the gradient is off to the left */
    background-position: 100% 0;
  }
  100% {
    /* End position: the gradient moves across to the right */
    background-position: -100% 0;
  }
}
